.main-content {
    font-size: 1rem;
    font-family: "Nanum Gothic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
}

.main-content-action {
    text-align: right;
    margin-top: 50px;
}

.main-content-action > a {
    margin: 0 5px;
    display: inline-block;
}